{
	"state": "production",
	"organization": "gearboxworks",
	"name": "postgresql",
	"maintainer": "Gearbox Team <team@gearbox.works>",
	"version": "12.2",
	"majorversion": "",
	"latest": "1",
	"class": "dbserver",
	"network": "--network gearboxnet",
	"ports": [
		"8080",
		"5432"
	],
	"volumes": "",
	"restart": "--restart no",
	"args": "-d postgres",
	"env": {
		"POSTGRES_USER": "gearbox",
		"POSTGRES_PASSWORD": "password",
		"PGDATA": "/var/lib/postgresql/data"
	},
	"ref": "postgres:12.2-alpine",
	"refurl": "https://www.postgresql.org/",
	"base": "gearboxworks/gearbox-base:alpine-3.11"
}

